
body {
  background-color: #001f3f;
  color: white;
  font-family: sans-serif;
}
header {
  background-color: black;
  color: gold;
  padding: 20px;
  text-align: center;
}
nav a {
  color: gold;
  margin: 0 15px;
  text-decoration: none;
}
